<div class="nav-options d-flex justify-start">
    <button onclick="load_inventory_list()" id="inv-list-btn" class="btn btn-outline-dark m-2">INVENTORY LIST</button>
    <button onclick="load_add_item()" id="inv-add-btn" class="btn btn-dark m-2">ADD ITEM</button>
    <button onclick="load_rem_item()" id="inv-rem-btn" class="btn btn-outline-dark m-2">REMOVE ITEM</button>
</div>

<div id="inv-items"  style="display: none;">
    <h2>ITEMS IN THE INVENTORY</h2>

    <div class="container" id="inv-list">
        <div class="row inv-head">
            <div class="col col-1">ID</div>
            <div class="col col-2">ITEM NAME</div>
            <div class="col col-5">DESCRIPTION</div>
            <div class="col">QUANTITY</div>
            <div class="col">MIN. QUANTITY</div>
        </div>
        <div id="inv-body">
            <div class="row">
                <div class="col col-1">1</div>
                <div class="col col-2">Combiflam</div>
                <div class="col col-5">600mg</div>
                <div class="col">20</div>
                <div class="col">5</div>
            </div>
            
            <div class="row">
                <div class="col col-1">1</div>
                <div class="col col-2">Combiflam</div>
                <div class="col col-5">600mg</div>
                <div class="col">20</div>
                <div class="col">5</div>
            </div>
            
            <div class="row">
                <div class="col col-1">1</div>
                <div class="col col-2">Combiflam</div>
                <div class="col col-5">600mg</div>
                <div class="col">20</div>
                <div class="col">5</div>
            </div>
        </div>
    </div>
</div>

<div id="add-inv">
    <h2>ADD NEW ITEM TO INVENTORY</h2>

    <form action="/add-item" method="POST">
        <div class="container">
            <div class="row">
                
                <div class="form-floating mb-2">
                    <input type="text" name="item_id" id="item_id" placeholder="enter item_id..." class="form-control rounded">
                    <label for="item_id">ITEM ID</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" name="item_name" id="item_name" placeholder="enter item_name..." class="form-control rounded">
                    <label for="item_name">ITEM NAME</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" name="item_desc" id="item_desc" placeholder="enter item_desc..." class="form-control rounded">
                    <label for="item_desc">ITEM DESCRIPTION</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" name="quantity" id="quantity" placeholder="enter quantity..." class="form-control rounded">
                    <label for="quantity">QUANTITY OF ITEM</label>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="rem-inv" style="display: none;">
r
</div>

<script src="/js/inventory.js"></script>