<div class="nav-options d-flex justify-start">
    <button onclick="load_inventory_list()" id="inv-list-btn" class="btn btn-outline-dark m-2">INVENTORY LIST</button>
    <button onclick="load_add_item()" id="inv-add-btn" class="btn btn-outline-dark m-2">ADD ITEM</button>
    <button onclick="load_rem_item()" id="inv-rem-btn" class="btn btn-dark m-2">WITHDRAW/REMOVE ITEM</button>
</div>

<div id="inv-items"  style="display: none;">
    <h2>ITEMS IN THE INVENTORY</h2>

    <div class="container" id="inv-list">
        <div class="row inv-head">
            <div class="col col-1">ID</div>
            <div class="col col-2">ITEM NAME</div>
            <div class="col col-5">DESCRIPTION</div>
            <div class="col">QUANTITY</div>
            <div class="col">MIN. QUANTITY</div>
        </div>
        <div id="inv-body">
            <div class="row">
                <div class="col col-1">1</div>
                <div class="col col-2">Combiflam</div>
                <div class="col col-5">600mg</div>
                <div class="col">20</div>
                <div class="col">5</div>
            </div>
            
            <div class="row">
                <div class="col col-1">1</div>
                <div class="col col-2">Combiflam</div>
                <div class="col col-5">600mg</div>
                <div class="col">20</div>
                <div class="col">5</div>
            </div>
            
            <div class="row">
                <div class="col col-1">1</div>
                <div class="col col-2">Combiflam</div>
                <div class="col col-5">600mg</div>
                <div class="col">20</div>
                <div class="col">5</div>
            </div>
        </div>
    </div>
</div>

<div id="add-inv"  style="display: none;">
    <h3 id="add-item-response" style="display: none;">this is a msg</h3>

    <h2>ADD NEW ITEM TO INVENTORY</h2>
    
    <div class="container">
        <div class="row">
            
            <div class="col form-floating my-3">
                <input type="text" name="item_id" id="item_id" placeholder="enter item_id..." class="form-control rounded " required>
                <label for="item_id">ITEM ID</label>
            </div>
    
            <div class="col form-floating my-3">
                <input type="text" name="item_name" id="item_name" placeholder="enter item_name..." class="form-control rounded" required>
                <label for="item_name">ITEM NAME</label>
            </div>
            <div class="w-100"></div>
            <div class="col form-floating my-3">
                <input type="text" name="item_desc" id="item_desc" placeholder="enter item_desc..." class="form-control rounded" required>
                <label for="item_desc">ITEM DESCRIPTION</label>
            </div>
    
            <div class="col form-floating my-3">
                <input type="text" name="quantity" id="quantity" placeholder="enter quantity..." class="form-control rounded" required>
                <label for="quantity">QUANTITY OF ITEM</label>
            </div>
            
        </div>
    </div>
    
    <button id="add-item-submit" onclick="submit_add_item_form()">ADD ITEM</button>
    
    <h3>OR</h3>
    
    <h2>ADD QUANTITY OF EXISTING ITEM TO INVENTORY</h2>

    <div class="container">
        <div class="row">
            <div class="col form-floating my-3">
                <input type="text" name="item_id2" id="item_id2" placeholder="enter item_id2..." class="form-control rounded " required>
                <label for="item_id2">ITEM ID</label>
            </div>
            <div class="col form-floating my-3">
                <input type="text" name="quantity2" id="quantity2" placeholder="enter quantity2..." class="form-control rounded" required>
                <label for="quantity2">QUANTITY OF ITEM</label>
        </div>
    </div>
        
    <button id="add-quantity-submit" onclick="submit_add_quantity()">ADD QUANTITY</button>
</div>

<div id="rem-inv">
    
    <h2>WITHDRAW ITEM FROM INVENTORY</h2>
    <p>Enter </p>


</div>

<script src="/js/inventory.js"></script>