<div class="nav-options d-flex justify-start">
    <button onclick="load_inventory_list()" id="inv-list-btn" class="btn btn-dark m-2">INVENTORY LIST</button>
    <button onclick="load_items_list()" id="items-list-btn" class="btn btn-outline-dark m-2">ITEMS LIST</button>
    <button onclick="load_add_item()" id="inv-add-btn" class="btn btn-outline-dark m-2">ADD ITEM</button>
    <button onclick="load_rem_item()" id="inv-rem-btn" class="btn btn-outline-dark m-2">WITHDRAW/REMOVE ITEM</button>
    <button onclick="load_set_min_quantity()" id="set-min-btn" class="btn btn-outline-dark m-2">SET/REMOVE MINIMUM QUANTITY</button>
</div>

<div id="inv-items">
    <h2>ITEMS IN THE INVENTORY</h2>

    <div class="container" id="inv-list">
        <div class="row inv-head">
            <div class="col col-1">ID</div>
            <div class="col col-2">ITEM NAME</div>
            <div class="col col-5">DESCRIPTION</div>
            <div class="col">QUANTITY</div>
            <div class="col">MIN. QUANTITY</div>
        </div>
        <div id="inv-body">
            
        </div>
    </div>
</div>

<div id="items-list">

    <h2>LIST OF ALL ITEMS PRESENT IN THE DATABASE</h2>

    <div id="search-items-bar">

    </div>
    <div id="items-table" class="container">
        <div class="row head">
            <div class="col">ITEM ID</div>
            <div class="col">ITEM NAME</div>
            <div class="col">ITEM DESCRIPTION</div>
        </div>
        <div id="items-list-body"></div>
    </div>
</div>

<div id="add-inv" style="display: none;">
    <h3 id="add-item-response" style="display: none;">this is a msg</h3>

    <h2>ADD NEW ITEM TO INVENTORY</h2>
    
    <div class="container">
        <div class="row">
            
            <div class="col form-floating my-3">
                <input type="text" name="item_id" id="item_id" placeholder="enter item_id..." class="form-control rounded " required>
                <label for="item_id">ITEM ID</label>
            </div>
    
            <div class="col form-floating my-3">
                <input type="text" name="item_name" id="item_name" placeholder="enter item_name..." class="form-control rounded" required>
                <label for="item_name">ITEM NAME</label>
            </div>
            <div class="w-100"></div>
            <div class="col form-floating my-3">
                <input type="text" name="item_desc" id="item_desc" placeholder="enter item_desc..." class="form-control rounded" required>
                <label for="item_desc">ITEM DESCRIPTION</label>
            </div>
    
            <div class="col form-floating my-3">
                <input type="text" name="quantity" id="quantity" placeholder="enter quantity..." class="form-control rounded" required>
                <label for="quantity">QUANTITY OF ITEM</label>
            </div>
            
        </div>
    </div>
    
    <button id="add-item-submit" class="green" onclick="submit_add_item_form()">ADD ITEM</button>
    
    <h3>OR</h3>
    
    <h2>ADD QUANTITY OF EXISTING ITEM TO INVENTORY</h2>

    <div class="container">
        <div class="row">
            <div class="col form-floating my-3">
                <input type="text" name="item_id2" id="item_id2" placeholder="enter item_id2..." class="form-control rounded " required>
                <label for="item_id2">ITEM ID</label>
            </div>
            <div class="col form-floating my-3">
                <input type="text" name="quantity2" id="quantity2" placeholder="enter quantity2..." class="form-control rounded" required>
                <label for="quantity2">QUANTITY OF ITEM</label>
            </div>
        </div>
    </div>
        
    <button id="add-quantity-submit" class="green" onclick="submit_add_quantity()">ADD QUANTITY</button>
</div>

<div id="rem-inv" style="display: none;">
    
    <h3 id="rem-item-response" style="display: none;">this is a msg</h3>
    <h2>WITHDRAW SOME QUANTITY OF ITEM FROM INVENTORY</h2>
    
    <div class="container">
        <div class="row">
            <div class="col form-floating my-3">
                <input type="text" name="item_id3" id="item_id3" placeholder="enter item_id3..." class="form-control rounded " required>
                <label for="item_id3">ITEM ID</label>
            </div>
            <div class="col form-floating my-3">
                <input type="text" name="quantity3" id="quantity3" placeholder="enter quantity3..." class="form-control rounded" required>
                <label for="quantity3">QUANTITY OF ITEM</label>
            </div>
        </div>
    </div>

    <button id="rem-quantity-submit" class="red" onclick="submit_rem_quantity()">WITHDRAW ITEM</button>

    <h3>OR</h3>
    <h2>REMOVE AN ITEM FROM THE INVENTORY</h2>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col form-floating my-3">
                    <input type="text" name="item_id4" id="item_id4" placeholder="enter item_id4..." class="form-control rounded " required>
                    <label for="item_id4">ITEM ID</label>
                </div>
            </div>
            <div class="col">
                <button id="rem-item-detail" class="mt-3 red" onclick="extract_rem_item_detail()">GET ITEM DETAIL</button>
            </div>
        </div>
    </div>

    <div id="get-item-details" style="display: none;">
        <div class="row">

            <div class="col form-floating my-3">
                <input type="text" name="item_id5" id="item_id5" placeholder="enter item_id..." class="form-control rounded " disabled>
                <label for="item_id5">ITEM ID</label>
            </div>
    
            <div class="col form-floating my-3">
                <input type="text" name="item_name5" id="item_name5" placeholder="enter item_name..." class="form-control rounded" disabled>
                <label for="item_name5">ITEM NAME</label>
            </div>
            <div class="w-100"></div>
            <div class="col form-floating my-3">
                <input type="text" name="item_desc5" id="item_desc5" placeholder="enter item_desc5..." class="form-control rounded" disabled>
                <label for="item_desc5">ITEM DESCRIPTION</label>
            </div>
    
            <div class="col form-floating my-3">
                <input type="text" name="quantity5" id="quantity5" placeholder="enter quantity5..." class="form-control rounded" disabled>
                <label for="quantity5">QUANTITY OF ITEM</label>
            </div>
            <div class="col">
                <button id="rem-item" class="mt-3 red" onclick="rem_item()">REMOVE ITEM</button>
            </div>
        </div>
    </div>
</div>

<div id="set-min-quan"  style="display: none;">
    <h2>SET/REMOVE MINIMUM QUANTITY OF ITEMS FOR ALERT</h2>
    
    <h3>1. Enter item ID and minimum quantity for adding minimum quantity alert of the item.</h3>
    <h3>2. To remove Minimum quantity alert from an Item, enter item ID and "-1" in minimum quantity input.</h3>

    <div class="container">
        <div class="row">
                <div class="col form-floating my-3">
                    <input type="text" name="item_id6" id="item_id6" placeholder="enter item_id..." class="form-control rounded " required>
                    <label for="item_id6">ITEM ID</label>
                </div>
            <div class="col form-floating my-3">
                <input type="text" name="quantity6" id="quantity6" placeholder="enter quantity6..." class="form-control rounded" required>
                <label for="quantity6">MINIMUM QUANTITY FOR ALERT</label>
            </div>
        </div>
    </div>
    
    <button id="min-quan" class="mt-3 red" onclick="min_quan()">SET MINIMUM QUANTITY ALERT</button>

</div>

<script src="/js/inventory.js"></script>