
<div class="nav-options d-flex justify-start">
    <button onclick="load_send_request()" id = "inv-send-request" class="btn btn-outline-dark m-2">SEND REQUEST</button>
    <button onclick="load_pending_request()" id = "inv-pending-request" class="btn btn-outline-dark m-2">PENDING REQUESTS</button>
    <button onclick="load_received_request()" id = "inv-received-request" class="btn btn-outline-dark m-2">RECEVIED REQUESTS</button>
    <button onclick="load_suc_tans()" id = "inv-successful" class="btn btn-outline-dark m-2">SUCCESSFUL TRANSACTION</buttons>
</div>

<div id="send-request">
    <h3 id="add-item-response" style="display: none;">this is a msg</h3>

    <h2>SEND REQUEST</h2>
    
    <div class="container">
        <div class="row">         
            <div class="col form-floating my-3">
                <input type="text" name="rece_id" id="receive_id" placeholder="enter item_id..." class="form-control rounded " required>
                <label for="receive_id">RECEIVER ID</label>
            </div>
    
            <div class="col form-floating my-3">
                <input type="text" name="item_ID" id="item_ID" placeholder="enter item_name..." class="form-control rounded" required>
                <label for="item_ID">ITEM ID</label>
            </div>
            <div class="w-100"></div>
            <div class="col form-floating my-3">
                <input type="text" name="item_Quantity" id="item_Quantity" placeholder="enter item_desc..." class="form-control rounded" required>
                <label for="item_Quantity">QUANTITY</label>
            </div>        
        </div>
    </div>
    
    <button id="add-item-submit" onclick="request_transaction()">REQUEST</button>
</div>


<div id="pending-request" style="display : none">
    <h2>PENDING REQUESTS</h2>

    <div class="container" id="inv-list">
        <div class="row inv-head">
            <div class="col col-1">ID</div>
            <div class="col col-2">ITEM NAME</div>
            <div class="col col-5">DESCRIPTION</div>
            <div class="col">QUANTITY ASKED</div>
            <div class="col">STATUS</div>
        </div>
        <div id="pending_table_1">
            
        </div>
    </div>
</div>

<div id="received-request" style = "display : none">
    <h2>RECEIVIED REQUESTS</h2>

    <div class="container" id="inv-list">
        <div class="row inv-head">
            <div class="col">ITEM_ID</div>
            <div class="col">QUANTITY</div>
            <div class="col">SENDER_ID</div>
            <div class="col">ACCEPT/DECLINE</div>
        </div>
        <div id="received_request_table">
            
        </div>
    </div>
</div>
<div id="success" style="display : none">
    <h2>SUCCESSFUL TRANSACTION</h2>

    <div class="container" id="inv-list">
        <div class="row inv-head">
            <div class="col">ID</div>
            <div class="col">ITEM NAME</div>
            <div class="col">DESCRIPTION</div>
            <div class="col">QUANTITY RECEVIED</div>
            <div class="col">STATUS</div>
        </div>
        <div id="inv-body2">
            
        </div>
    </div>
</div>


<script src="/js/item_transfer.js"></script>